
body {
  background-image: url("https://i.ibb.co/S60Kg7y/Untitled-design-4.png");
  background-repeat: repeat-y;
  background-size:contain;
}


.white-out {
    color: #ffffff;
}

.right-side {
    text-align: right;
}


.course-section-header {
	text-align: center;
	background: #5e719b;
}

.course-section {
	background: #675E9B;
}

.detail-section {
	background: #5e719b;
  padding:25px;
}

.class-category {
    text-align: center;
    background: #5e719b;
    border-radius: 5px;
    color: #ffffff;
}

.add-levels {
  background: #675e9b;
  color: #ffffff;
}

.class_level {
    background: #675e9b;
    border-radius: 5px;
    color: #ffffff;
}


.panel-title {
  position: relative;
  padding: 10px 15px;
  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
}
  
.panel-title::before {
  content: "\f107";
  color: #ffffff;
  top: 50%;
  left: 2%;
  position: absolute;
  font-family: "FontAwesome"
}

.panel-title[aria-expanded="true"]::before {
  content: "\f106";
}

.panel-heading-full.panel-heading {
  padding: 0;
}

.panel-default>.panel-heading {
   background: #5e719b
}

.panel-default {
    border-color: transparent;
    background-color: transparent;
}



/* large view */
@media only screen and (min-width: 575px) {


	.course-section, .course-section-header {
		border-radius: 5px;
	}

}

@media only screen and (max-width: 768px) {

  .sm-format {
    background: #5e719b
  }

  .detail-section {
    padding:0px;
  }

  .class-category {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 573px) {

	.course-large {
		display: none;
	}
}


@media only screen and (min-width: 574px) {
	.course-small {
		display: none;
	}

}