

h1 {
    font-family: Suez One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #ffffff;
}

.white-out {
    color: #ffffff;
}

.right-side {
    text-align: right;
}


.course-section-header {
	text-align: center;
	background: #5e719b;
}

.course-section {
	background: #5e719b;
}

.class-category {
    text-align: center;
    background: #5e719b;
    border-radius: 5px;
    color: #ffffff;
}

.class_level {
    background: #675e9b;
    border-radius: 5px;
    color: #ffffff;
}


/* large view */
@media only screen and (min-width: 575px) {


	.course-section .course-section-header {
		border-radius: 5px;
	}

}