.blob {
		
	font-size: 14px;
	margin: 0px;
	padding: 40px;
	background-image: url('https://i.ibb.co/mHW4wyK/yellow-blob.png');
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
}

.blobinside {
	padding-top: 15px;
}

.blobp {
	line-height: 20px;
}

@media only screen and (min-width: 575px) {
	.course-small {
		display: none;
	}
	.parent-reviews {
		margin: 20px;
		padding: 60px;
		background-image: url('https://i.ibb.co/mHW4wyK/yellow-blob.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

	.leaf1 {
		position: absolute;
		width: 42%;
		height: auto;
		top: 0%;
		left: 0%;
		z-index: -10;
	}

}

@media only screen and (max-width: 574px) {

	.course-small {
		background: #675e9b;
		color: #ffffff;
	}

	.course-large {
		display: none;
	}



}