/* navigation bar */

/* .navbar {
    background: #FDFDFD;

} */

/* .logo-box {
    margin-top: 5px
} */
/* 
.img-logo {
    width: 60%;
}

.logo-text {
    font-size: 14px;
    text-align: center;
}

.nav-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.nav-text nav-item {
    font-weight: bold;
} */

.col-lg-6 {
    padding: 0px 0px;
}

.headhead{
    background: #5E719B;
}

.lean-right {
    text-align:right;
}

.lean-left {
    text-align:left;
}

/* large view */
@media only screen and (min-width: 575px) {
	.menu-cond {
		display: none;
	}
}

/* text */

h1 {
	font-family: Suez One;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 47px;

	color: #000000;

    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
	font-family: Suez One;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;

	color: #000000;
}

h3 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;

	color: #000000;
}

p, ol {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;

	color: #000000;
}

label {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;

	color: #000000;
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

bod-extra {
	background-image: url('https://i.ibb.co/S60Kg7y/Untitled-design-4.png');
	background-repeat: repeat-y;
}

.white-out {
	color: #ffffff;
}

.mr-auto {
	margin: auto !important;
	justify-content: space-between;
}

/* buttons */

.yellowButton-sm {
	background-color: #f5d015;
	border: none;
	color: w;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 4px;
	cursor: pointer;
	border-radius: 70px;
	box-shadow: 0px 5px 0px #e2ab19;
	color: black;
    margin-bottom: 35px;
    margin-top: 20px;
}

.yellowButton-md {
	width: 40%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-color: black;
	background-color: #f5d015;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 70px;
	box-shadow: 0px 5px 0px #e2ab19;
	color: black;
    margin-bottom: 35px;
    margin-top: 20px;
}

.yellowButton-lg {
	width: 100%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-color: black;
	background-color: #f5d015;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 70px;
	box-shadow: 0px 5px 0px #e2ab19;
	color: black;
    margin-bottom: 35px;
    margin-top: 20px;
}

.blueButton-lg {
	width: 100%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	background-color: #6499d0;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 15px 4px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #2c659f;
	color: black;
    margin-bottom: 35px;
    margin-top: 20px;
}

.white-out {
	color: #ffffff;
}

page-container {
	position: relative;
	min-height: 100vh;
}

content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}

.sectionHeader {
	text-align: center;
	background: #5e719b;
	border-radius: 5px;
	color: #ffffff;
}

.course-box {
    background: #675e9b;
    border-radius: 5px;
    color: #ffffff;
}

.course-text {
    padding: 50px;
}

/* .navbar-toggle .icon-bar{
    width: 100px !important;
    height:100px !important;
  }

  footer {
    clear: both;
    position: relative;
    margin-top: auto;
} */

@media only screen and (max-width: 574px) {
	.menu-full {
		display: none;
	}

	/* navbar */

	.img-logo {
		height: 100%;
	}
	.logo-box {
		margin-top: 0px;
		align-items: center;
	}
	.navbar-light .navbar-toggler {
		color: rgba(0, 0, 0, 0.55);
		border-color: rgba(255, 255, 255, 0);
		/* margin-left: 10%; */
	}
	.navbar {
		margin-bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		justify-content: space-between;
	}
    .navbar-brand {
        padding: 0px 0px;
        height: 60px
    }
	.navcontainer {
		display: flex;
		justify-content: space-between;
	}
	.navbar-toggler-icon {
		width: 3.5em;
		height: 3.5em;
	}
    .navbar-light .navbar-nav .offlink {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: right;
        color: #ffffff;
    }

	/* off-canvas menu */

    .offcanvas {
        background-color: rgb(0, 0, 0);
        max-width: 80%;
    }
	.offcanvas-end {
		padding: 10px;
	}
    .offcanvas-body .navbar-nav {
        margin: 15px 5px;
        align-items: end;
    }
    .offlink {
        margin-bottom: 33px;
    }
    .offcanvas-end .offcanvas-header .btn-close {
        font-size: 25px;
        color: #ffffff;
        background: #e9ecef url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%00000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
    }
    button .btn-close .btn-reset {
        color: #ffffff;
    }
	.wrapper {
		text-align: right;
	}

    /* text */
    h1 {

        font-size: 25px;
        line-height: 33px;

    }

    p, ol {

        font-size: 16px;
        line-height: 36px;

    }

    /* buttons */

    .yellowButton-sm, .yellowButton-md, .yellowButton-lg  {
        width: 95%;
    
    }
    .blueButton-md, .blueButton-lg  {
        width: 95%;
        
    }
    
}
