/* ---------- navigation bar ---------- */

/* ---------- formatting ---------- */

.page-stuff {
	overflow: hidden;
	width:100%;
}
.lean-right {
    text-align:right;
}
.lean-left {
    text-align:left;
}
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
page-container {
	position: relative;
	min-height: 100vh;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}

/* ---------- text ---------- */

h1 {
	font-family: Suez One;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 47px;

	color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
	font-family: Suez One;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;

	color: #000000;

    padding-left: 10px;
    padding-right: 10px;
}
h3 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;

	color: #000000;

    padding-left: 10px;
    padding-right: 10px;
}
p, ol {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;

	color: #000000;

    padding-left: 10px;
    padding-right: 10px;
}
ol {
    padding-left: 30px;
    padding-right: 10px;
}
br.responsive {
    display: none; 
	/* Hide BR tag for wider screens */
  }
label {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;

	color: #000000;
}
.white-out{
	color: #ffffff;
}
.white-out h1 {
	color: #ffffff;
}
.white-out p {
	color: #ffffff;
}

/* --------- spacing ---------- */

.top-baby {
	padding-top: 15px;
}
.bottom-baby {
	padding-bottom:15px;
}
.top-mama {
	padding-top: 25px;
}
.bottom-mama {
	padding-bottom:25px;
}
.top-papa {
	padding-top: 35px;
}
.bottom-papa {
	padding-bottom:35px;
}
.top-grand {
	padding-top: 50px;
}
.bottom-grand {
	padding-bottom:50px;
}
.mtop-baby {
	margin-top: 15px;
}
.mbottom-baby {
	margin-bottom:15px;
}
.mtop-mama {
	margin-top: 25px;
}
.mbottom-mama {
	margin-bottom:25px;
}
.mtop-papa {
	margin-top: 35px;
}
.mbottom-papa {
	margin-bottom:35px;
}
.mtop-grand {
	margin-top: 50px;
}
.mbottom-grand {
	padding-bottom:50px;
}
.mr-auto {
	margin: auto !important;
	justify-content: space-between;
}


/* --------- buttons ----------- */

.yellowButton-sm {
	background-color: #f5d015;
	border: none;
	color: w;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 4px;
	cursor: pointer;
	border-radius: 70px;
	box-shadow: 0px 5px 0px #e2ab19;
	color: black;
}
.yellowButton-md {
	width: 40%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-color: black;
	background-color: #f5d015;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 70px;
	box-shadow: 0px 5px 0px #e2ab19;
	color: black;
    /* margin-bottom: 35px;
    margin-top: 20px; */
}
.yellowButton-lg {
	width: 100%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-color: black;
	background-color: #f5d015;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 70px;
	box-shadow: 0px 5px 0px #e2ab19;
	color: black;
}
.blueButton-lg {
	width: 100%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	background-color: #6499d0;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 15px 4px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #2c659f;
	color: black;
}
.blueButton-md {
	width: 40%;
	height: 45px;
	left: 798.29px;
	top: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	background-color: #6499d0;
	border: none;
	color: w;
	padding: 10px 20px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 15px 4px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #2c659f;
	color: black;
}

/* header section */

.header-section{
    background: #5E719B;
}

/* .sectionHeader {
	text-align: center;
	background: #5e719b;
	border-radius: 5px;
	color: #ffffff;
}

.course-box {
    background: #675e9b;
    border-radius: 5px;
    color: #ffffff;
}

.course-text {
    padding: 15px;
}

.course-img {
    padding: 15px;
} */

