{% extends 'base.html' %} {% block title %}About Us{% endblock %}

<head> 
	{% block head %}
	<meta carset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/about.css" />
	{% endblock %}
</head>

<body>
	{% block body%}
	<div id="page-container">
		<div id="content-wrap">
			<div class="container-fluid">
				<div class="header-section flex-container row">
					<div class="header-cont col-md-6 fill order-lg-1">
						<img
							class="header-image"
							src="https://i.ibb.co/cgHP0Tf/rendy-novantino-Cj-Lvl-J8-FE-unsplash.png"
							alt="rendy-novantino-Cj-Lvl-J8-FE-unsplash"
							border="0"
						/>
					</div>

					<div class="vert-align bottom-mama white-out col-md-6 order-lg-0">
						<div class="text-padding">
							<h1>
								About Us
							</h1>
							<p class="white-out lean-left">
								Info coming soon! For now, you can…
							</p>

							<a href="/courses"><button class="yellowButton-lg">See Tagalog Lessons</button></a>
							<a href="/request-info"><button class="blueButton-lg">Ask a Question</button></a>

						</div>
					</div>
					
					
				</div>
			</div>
			<div class="container-fluid top-grand bottom-baby">
				<div class="column-3 column-md-12 hide-md leaf1 no-flex">
					<div class="component component--image"> 
						<img class="leaf" src="https://i.ibb.co/k2QdbQn/Group-648.png" alt="leaf3" border="0" loading="lazy">
					</div> 
				</div>
				<div class="column column-md-12 hide-md leaf2 no-flex">
					<div class="component component--image"> 
						<img class="leaf" src="https://i.ibb.co/CHyP2Pf/Group-630.png" alt="leaf2" border="0" loading="lazy">			   
					</div> 
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
