{% extends 'base.html' %} {% block title %}About Us{% endblock %}

<head> 
	{% block head %}
	<meta carset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="about.css" />
	{% endblock %}
</head>

<body>
	{% block body%}
	<div class="wrapper container">
		<div class="header-section row">
			
			<div class="col-lg-6 order-lg-1">
				<img
					style="width: 100%"
					src="https://i.ibb.co/cgHP0Tf/rendy-novantino-Cj-Lvl-J8-FE-unsplash.png"
					alt="rendy-novantino-Cj-Lvl-J8-FE-unsplash"
					border="0"
				/>
			</div>

			<div class="headtext col-lg-6 order-lg-0">
				<div class="container-fluid">
					<h1 class="white-out" style="text-align: center">
						About Us
					</h1>
					<p class="white-out lean-left">
						Info coming soon! For now, you can…
					</p>

					<a href="/courses"><button class="yellowButton-md">See Tagalog Lessons</button></a>
					<a href="/request-info"><button class="blueButton-md">Ask a Question</button></a>

				</div>
			</div>
			
			
		</div>
	</div>
	{% endblock %}
</body>
