{% extends 'base.html' %} {% block title %}About Us{% endblock %}
<head> 
	<style>
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}

		h1 {
			font-family: Suez One;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 47px;

			color: #FFFFFF;

		}
		h3 {
			color: light;
		}
		
		.right-side {
			text-align: right;
		}
	</style>
</head>

<body>
	{% block body%}
	<div class="row align-items-center" style="background: #5E719B">
		<div class="col-lg-4 col-sm-offset-1" >
			<h1 class="white-out">About Us</h1>
			<p class="white-out">Info coming soon! For now, you can…</p>
			<a href="/courses"><button class="yellowButton-lg">See Tagalog Lessons</button></a>
			<a href="/request-info"><button class="blueButton-lg">Ask a Question</button></a>
		</div>
		<div class="col-lg-6 col-sm-offset-1"><img style="width: 100%" src="https://i.ibb.co/cgHP0Tf/rendy-novantino-Cj-Lvl-J8-FE-unsplash.png" alt="rendy-novantino-Cj-Lvl-J8-FE-unsplash" border="0"></div>
	</div>
	{% endblock %}
</body>
