{% extends 'base.html' %}
{%block title %}Starting Page{% endblock %}

{% block body %}
  <div style="margin-left: 50px;">
  <h1>Coming Soon!</h1>

  <h3>For any issues or feature requests, reach out to the Tool Developer via Telegram App.</h3>
  
  </br>

    <div style="margin-left: 25px;">
      
      <p>When submitting an issue or requesting a feature, please provide the following:<p>

      <div style="margin-left: 25px;">

        <li>Priority: [ Urgent • High • Medium • Low ]</li>
        <li>Date Needed By: [ XX-XX-XXXX ]</li>
        <li>Topic Area: [ ex.) "Creating New Record - Sale Transaction" ]</li>
        <li>Actual Activity: [ "When I put in sale information and click submit, the transaction is not saving and does not show up in Sales tab." ]</li>
        <li>Expected Outcome: [ "I want to be able to create a new sale and see my sale record show up in Sales tab." ]</li>
      
      </div>

    </div>

  </div>
{% endblock %}