{% extends 'base.html' %} {% block title %}Courses{% endblock %}
<head>
	<style>
		div {
			padding-top: 0px;
			padding-bottom: 0px;
		}

		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}

		h1 {
			font-family: Suez One;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 47px;
			color: #ffffff;
		}

		.white-out {
			color: #ffffff;
		}

		.right-side {
			text-align: right;
		}

		.class-category {
			text-align: center;
			background: #5e719b;
			border-radius: 5px;
			color: #ffffff;
		}

		.class_level {
			background: #675e9b;
			border-radius: 5px;
			color: #ffffff;
		}
	</style>
</head>

<body>
	{% block body%}
	<div
		class="row align-items-center"
		style="background-color: #5e719b; padding-top: 0px; padding-bottom: 0px"
	>
		<div class="col-lg-6">
			<img
				src="https://i.ibb.co/7SCzDN0/1-Jerry-Wang.png"
				alt="1-Jerry-Wang"
				style="width: 100%"
				border="10"
			/>
		</div>
		<div
			class="col-lg-6"
			style="background-color: #5e719b; padding-top: 0px; padding-bottom: 0px"
		>
			<div
				class="container-fluid p-5"
				style="background-color: #5e719b; padding-top: 0px; padding-bottom: 0px"
			>
				<h1 class="white-out">Courses</h1>
				<p class="white-out">
					Our virtual Tagalog lessons cover practical themes to reinforce
					speaking at home. As well as, ethnic customs to explore Filipino
					roots.
				</p>
				<button href="#" class="blueButton">Ask a Question</button>
			</div>
		</div>
	</div>

	<div class="row  my-5">
		<div class="col-lg-8 col-sm-offset-2">
			<div
				class="container white-out"
				style="
					text-align: center;
					background: #5e719b;
					border-radius: 5px;
					color: #ffffff;
				"
			>
				<h1>All Courses</h1>
			</div>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-lg-8 col-sm-offset-2">
			<div
				class="container p-5"
				style="background: #5e719b; border-radius: 5px; color: #ffffff"
			>
				<div class="row">
					<div class="col-lg-2">
						<p><b>Ages</b></p>
						<p>4 - 11 years old, mixed age classes</p>
					</div>
					<div class="col-lg-3">
						<p><b>Price</b></p>
						<p>
							USD $13/class (Total $109/course) All courses are non-refundable
						</p>
					</div>
					<div class="col-lg-7">
						<p><b>Class Duration</b></p>
						<p>Once per week, for 8 weeks</p>
						<p>
							See enrollment page for specific class dates offered. Miss a
							class? We’ll send you a private link to the class recording
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<p><b>Seats</b></p>
						<p>8 max. per class (space is limited!)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row gx-4 gx-lg-5 align-items-center my-5">
		<div class="col-lg-8 col-sm-offset-2">
			<div
				class="container white-out"
				style="
					text-align: center;
					background: #5e719b;
					border-radius: 5px;
					color: #ffffff;
				"
			>
				<h1>Beginner</h1>
				<p>Pre-requisites: None</p>
			</div>
		</div>
	</div>

	{% for d in details %}

		<div class="row gx-4 gx-lg-5 align-items-center my-5">
			<div class="col-lg-8 col-sm-offset-2">
				<div
					class="container white-out"
					style="
						background: #675e9b;
						border-radius: 5px;
						color: #ffffff;
					"
				>
					<div class="row">
						<div class="col-lg-6">
							<div class="color m-5">
							<img src="{{d.image_url}}" alt="random image for {{d.level_name}} course." style="width: 100%; border-radius: 5px;" border="10"/>
							</div>
						</div>
						<div class="col-lg-6 my-auto">
							<p><b>{{d.level_name}}</b></p>
							<p>{{d.description}}</p>
							<button href="{{d.registration_link}}" class="yellowButton">Reserve a spot</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%endfor%}	

	<div class="row align-items-center my-5">
		<div class="col-lg-8 col-sm-offset-2">
			<div
				class="container white-out"
				style="
					text-align: center;
					background: #5e719b;
					border-radius: 5px;
					color: #ffffff;
				"
			>
				<h1>Conversational</h1>
				<p>
					Pre-Requisites: Complete level 1-3 courses or
					<u>demonstrate</u> equivalent proficiency
				</p>
			</div>
		</div>
	</div>

	{% endblock %}
</body>
