{% extends 'base.html' %} {% block title %}Courses{% endblock %}
<head> 
	<style>
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}

		h1 {
			font-family: Suez One;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 47px;

			

		}
		h3 {
			
		}
		.right-side {
			text-align: right;
		}
	</style>
</head>

<body>
	{% block body%}
	<div class="row align-items-center" style="background: #5E719B">
		<div class="col-lg-6"><img src="https://i.ibb.co/7SCzDN0/1-Jerry-Wang.png" alt="1-Jerry-Wang" style="width:100%" border="0"></div>
		<div class="col-lg-4 col-sm-offset-1" >
			<h1>Courses</h1>
			<h3>Our virtual Tagalog lessons cover practical themes to reinforce speaking at home. As well as, ethnic customs to explore Filipino roots.</h3>
		</div>
	</div>
	
	<div class="row gx-4 gx-lg-5 align-items-center my-5">
		<div class="col-lg-8 col-sm-offset-2" >
			<div class="container" style="background: #5E719B; text-align: center;"><h1>All Courses</h1>
			</div>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-lg-8 col-sm-offset-2">
			<div class="container" style="background: #5E719B;">
				<div class="row">
					<div class="col-lg-2" >
						<h2>Ages</h2>
						<p>4 - 11 years old, mixed age classes</p>
					</div>
					<div class="col-lg-3" >
						<h2>Price</h2>
						<p>USD $13/class (Total $109/course) All courses are non-refundable</p>
					</div>
					<div class="col-lg-7" >
						<h2>Class Duration</h2>
						<p>Once per week, for 8 weeks</p>
						<p>See enrollment page for specific class dates offered. Miss a class? We’ll send you a private link to the class recording</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3" >
						<h2>Seats</h2>
						<p>8 max. per class (space is limited!)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row gx-4 gx-lg-5 align-items-center my-5">
		<div class="col-lg-8 col-sm-offset-2" >
			<div class="container" style="background: #5E719B; text-align: center;">
				<h1>Beginner</h1>
				<p>Pre-requisites: None</p>
			</div>
		</div>
	</div>
	

	<div class="row gx-4 gx-lg-5 align-items-center my-5">
		<div class="col-lg-8 col-sm-offset-2" >
			<div class="container" style="background: #5E719B; text-align: center;">
				<h1>Conversational</h1>
				<p>Pre-Requisites: Complete level 1-3 courses or <u>demonstrate</u> equivalent proficiency</p>
			</div>
		</div>
	</div>

	{% endblock %}
</body>
