{% extends 'base.html' %} {% block title %}Courses{% endblock %}
<head>
	<style>

	</style>
</head>

<body>
	{% block body%}


	<div class="wrapper container">
		<div class="header-section row">
			
			<div class="col-lg-6 order-lg-0">
				<img
					style="width: 100%"
					src="https://i.ibb.co/CKVGT29/mi-pham-0-DPyb8t-Kf-I-unsplash-2.png"
					alt="mi-pham-0-DPyb8t-Kf-I-unsplash-2"
					border="0"
				/>
			</div>

			<div class="headtext col-lg-6 order-lg-1 top-baby bottom-mama">
				<div class="container-fluid">
					<h1 class="white-out" style="text-align: center">
						Courses
					</h1>
					<p class="white-out lean-left">
						Our virtual Tagalog lessons cover practical themes to reinforce speaking at home. As well as, ethnic customs to explore Filipino roots.
					</p>
				</div>
			</div>			
		</div>


	<div class="row row-section align-items-center top-mama">
		<div class="col-lg-10 col-lg-offset-1">
			<div
				class="container white-out course-section-header">
				<h1>All Courses</h1>
			</div>
		</div>
	</div>
	<div class="row row-section top-mama">
		<div class="col-md-3">
			<p><b>Ages</b></p>
			<p>4 - 11 years old, mixed age classes</p>
		</div>
		<div class="col-md-3">
			<p><b>Price</b></p>
			<p>
				USD $13/class (Total $109/course) All courses are non-refundable
			</p>
		</div>
		<div class="col-md-3">
			<p><b>Class Duration</b></p>
			<p>Once per week, for 8 weeks</p>
			<p>
				See enrollment page for specific class dates offered. Miss a
				class? We’ll send you a private link to the class recording
			</p>
		</div>
		<div class="col-md-3">
			<p><b>Seats</b></p>
			<p>8 max. per class (space is limited!)</p>
		</div>

	</div>

	{% for cat in cat_details %}

		
			<div class="row row-section gx-4 gx-lg-5 align-items-center" style="padding-top:25px; padding-bottom:25px;">
				<button class="accordion">
				<div class="col-lg-10 col-sm-offset-1">
					<div
						class="container white-out"
						style="
							text-align: center;
							background: #5e719b;
							border-radius: 5px;
							color: #ffffff;
						"
					>
						<h1>{{cat.cat_name}}</h1>
						<p>Pre-requisites: {{cat.pre_req}}</p>
					</div>
				</div>
			
		</button>
	</div>
		<div class="panel" style="display:none;">
			{% for d in cat.courses %}

				<div class="row row-section gx-4 gx-lg-5 align-items-center" style="padding-top:25px; padding-bottom:25px;">
					<div class="col-lg-10 col-sm-offset-1">
						<div
							class="container white-out"
							style="
								background: #675e9b;
								border-radius: 5px;
								color: #ffffff;
							"
						>
							<div class="row">
								<div class="col-lg-6">
									<div style="padding:20px">
									<img src="{{d.image_url}}" alt="random image for {{d.course_name}} course." style="width: 100%; border-radius: 5px;" border="10"/>
									</div>
								</div>
								<div class="col-lg-6 my-auto" style="padding:50px">
									<p><b>{{d.course_name}}</b></p>
									<p>{{d.description}}</p>
									<a target="_blank" href="{{d.registration_link}}"><button class="yellowButton-lg">Reserve a spot</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{%endfor%}	
		</div>

	{%endfor%}	

	<div class="row row-section gx-4 gx-lg-5 align-items-center" style="padding-top:25px; padding-bottom:25px;">
		<div class="col-lg-10 col-sm-offset-1">
			<div
				class="container white-out"
				style="
					background: #675e9b;
					border-radius: 5px;
					color: #ffffff;
				"
			>
				<div class="row">
					<div class="col-lg-6 my-auto" style="padding:50px">
						<p><b>Additional levels coming soon</b></p>
						<p>Advance courses will be available as more kids enroll and grow in the program!</p>
						<a target="_blank" href= "https://docs.google.com/forms/d/e/1FAIpQLSci_G1TxJ17fmuQtDMvaw17c4SrTznxi41OJwVdf9E2MWvT-A/viewform"><button class="blueButton-lg" style="margin: 0px; width:100%">Notify me</button></a>
					</div>
					<div class="col-lg-6">
						<div style="padding:20px">
						<img src="https://i.ibb.co/CsQ4bZS/austin-nicomedez-0k-UCCQm1-VE4-unsplash-1.png" alt="random image" style="width: 100%; border-radius: 5px;" border="10"/>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;
		
		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
			  panel.style.display = "none";
			} else {
			  panel.style.display = "block";
			}
		  });
		}
		</script>

	{% endblock %}
</body>
