{% extends 'base.html' %} {% block title %}Kamusta Kids{% endblock %}

<html lang="en">
	<head>
		{% block head %}
		<link rel="stylesheet" href="/static/css/homepage.css" />
		{% endblock %}
	</head>
	<body>

		<main>
			{% block body%}
				<div class="container-fluid">
					<div class="header-section flex-container row">
						<div class="col-md-6">
							<img
								style="width: 100%"
								src="https://i.ibb.co/ZJ7QWmg/1-Tusik-Only.png"
								alt="1-Tusik-Only"
								border="0"
							/>
						</div>
						<div class="headtext bottom-mama white-out col-md-6">
							<h1>
								Explore the <br class="d-md-none" />
								rich Filipino heritage
							</h1>
							<p>
								Learn the Filipino language and ethnic customs through fun
								challenges and engaging small group lessons. Kamusta Kids offers
								virtual classes for children ages 4-11.
							</p>

							<a
								target="_blank"
								href="https://docs.google.com/forms/d/e/1FAIpQLSe5bDClDFQ3bWBZl4TLNjHcvZh826tGvTOYOmoX113lA7LNpA/viewform"
								><button class="yellowButton-md">Enroll Today</button></a
							>
						</div>
					</div>
				</div>


			{% endblock %}
		</main>
	</body>
</html> 
git